.checkout-bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
 margin-left: 79%;
}

body {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
    }